{% extends 'DreamCommerceShopAppstoreBundle::base.html.twig' %}

{% block body %}


    <main class="rwd-layout-width rwd-layout-container">
        <section class="rwd-layout-col-12">
            <fieldset>
                <header>Mapowanie grup atrybutów</header>

                {% for k,g in forms %}
                <div class="edition-form-line">
                    <div class="edition-form-line-label">
                        {{ groups[k].name }}:
                    </div>
                    <div class="edition-form-line-field">
                        {{ form_start(g) }}
                        {{ form_widget(g) }}
                        {{ form_end(g) }}
                    </div>
                </div>
                {% endfor %}

            </fieldset>

        </section>
    </main>


{% endblock %}
