{% extends 'DreamCommerceShopAppstoreBundle::base.html.twig' %}

{% block body %}


    <main class="rwd-layout-width rwd-layout-container">
        <section class="rwd-layout-col-12">
            <fieldset>
                <header>Rozszerzona integracja Ceneo</header>

                <div class="edition-form-line">
                    <div class="edition-form-line-label">
                        Ostatni eksport:
                    </div>
                    <div class="edition-form-line-field">
                        <strong>12/34/5678 90:12</strong> (wyeksportowano 2500 produktów)
                        <button class="button button-important button-bg" type="button">generuj XML</button>
                    </div>
                </div>

                <div class="edition-form-line">
                    <div class="edition-form-line-label">
                        Link do XML:
                    </div>
                    <div class="edition-form-line-field">
                        <input type="text" value="{{ xml_link }}" id="copy-xml-link">
                        <button class="button button-important button-bg" type="button">skopiuj link do XML</button>
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <header>Wykluczone produkty</header>

                {% if excluded_count > 0 %}
                    <p>{{ excluded_count }} produktów nie będzie eksportowane do XML. <a href="{{ app_path('ceneo_exclusions') }}">Przejdź do listy wykluczonych produktów</a></p>
                {% else %}
                    <p>Brak zdefiniowanych wykluczeń produktów, wszystkie produkty zostaną wyeksportowane do Ceneo XML</p>
                {% endif %}

                <p>Na <a href="{{ stock_link }}" target="_top">liście produktów</a> możesz zdefiniować produkty których NIE chcesz eksportować do Ceneo</p>

            </fieldset>
            <fieldset>
                <header>Ustawienia atrybutów Ceneo</header>
                <p>brak zdefiniowanych atrybutów, <a href="#">zdefiniuj atrybut</a></p>
            </fieldset>

        </section>
    </main>

{% endblock %}
